*{
  box-sizing: border-box;
}
h1{text-align: center;}

.starContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.starContainer button{
  background-color: white;
  border: none;
  font-size: 6rem;
  /* border: 1px solid; */
  border-radius: 5px;
  padding: 5px;
  /* margin: 10px; */
}

@media (max-width:600px) {
  .starContainer button{
    /* display: none; */
    /* border: solid black; */
    font-size: 2rem;
  }

  .starContainer{
  height: 100px;
}
}