img{
  padding: 0;
  margin: 0;
}

.slider-box {
  max-width: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px auto;
  padding: 10px;
}

.imageContainer img{
  width: 100%;
  max-width: 600px; /* optional */
  margin: 0 auto;
}

.slider-box button{
  font-size: 2rem;
  border: none;
  margin: 10px;
  border-radius: 30px;
  background-color: rgba(77, 128, 199, 0.904);
  box-shadow: 2px 2px 10px black;
}
.slider-box button:hover{
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.804);
  /* font-size: 70px; */
}
.slider-box button:active{
  color: rgba(0, 0, 0, 0.662);
}


.scrollIndicator {
  font-size: 10px;
  border-radius: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.scrollIndicator i {
  font-size: 40px;
}

.slider-box .hide {
  display: none;
}
