.slider-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid;
  margin: 10px auto;
  padding: 10px;
  height: 500px;
  width: 700px;
}

.slider-box btn {
  /* position: absolute; */
}
.scrollIndicator {
  font-size: 10px;
  /* border: 1px solid black; */
  border-radius: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.slider-box .hide {
  display: none;
}
