img{
  padding: 0;
  margin: 0;
}

.slider-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: solid; */
  margin: 10px auto;
  padding: 10px;
  height: 500px;
  width: 700px;
}


.scrollIndicator {
  font-size: 10px;

  border-radius: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.scrollIndicator i {
  font-size: 40px;
}

.slider-box .hide {
  display: none;
}
